<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="layout-header" class="site-header">
	<div class="header-logo">Cytech EC.</div>
		
		<form th:action="@{/product/search}" method="get">
			
			<!-- 商品名 -->
			<input type="text" name="keyword" placeholder="商品名">

	        <!-- カテゴリー -->
	        <select name="categoryId">

	            <option value="">すべてのカテゴリ</option>

	            <option
	                th:each="category : ${categories}"
	                th:value="${category.categoryId}"
	                th:text="${category.categoryName}">
	            </option>

	        </select>
			
			<button type="submit">検索</button>

	    </form>

	    <div class="user-area">

			<a th:href="@{/mypage}" class="mypage-button">
	            マイページ
	        </a>
			<div class="user-info">
				<span>ユーザー名：</span>
				<span th:text="${loginUser?.userName}"></span>
			</div>
		
		<a th:href="@{/logout}" class="logout-link">ログアウト</a>
	</header>
</body>
</html>