<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="layout-header">
	<div>Cytech EC.</div>
		
		<form th:action="@{/product/search}" method="get">
			
			<!-- 商品名 -->
			<input type="text" name="keyword" placeholder="商品名を入力">

	        <!-- カテゴリー -->
	        <select name="categoryId">

	            <option value="">すべてのカテゴリ</option>

	            <option
	                th:each="category : ${categories}"
	                th:value="${category.categoryId}"
	                th:text="${category.categoryName}">
	            </option>

	        </select>
			
			<button type="submit">検索</button>

	    </form>

	    <div>

			<a th:href="@{/mypage}">
	            <button type="button">マイページ</button>
	        </a>
			ユーザー名：
	        <span th:text="${session.loginUser?.userName}"></span>

	    </div>

		
		<a th:href="@{/logout}">ログアウト</a>
	</header>
</body>
</html>