<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>商品詳細画面</h1>
	
	<div th:replace="~{common/header :: header}"></div>
	
	<div>
		商品名：
		<span th:text="${product.productName}"></span>
	</div>
	<div>
		メーカー名：
		<span th:text="${product.company.companyName}"></span>
	</div>
	<div>
		価格：
		<span th:text="${product.price}"></span>円
	</div>
	<div>
		税込価格：
		<span th:text="${product.taxPrice}"></span>円
	</div>
	<img th:src="@{${product.imgPath}}">
	<div>
		在庫数：
		<span th:text="${product.stock}"></span>
	</div>
	
	
	
	<!-- カート追加 -->
	<div>

	    <div>
	        <label for="quantity">数量：</label>

	        <select id="quantity">
	            <option
	                th:each="i : ${#numbers.sequence(1, product.stock)}"
	                th:value="${i}"
	                th:text="${i}">
	            </option>
	        </select>
	    </div>

	    <div>
	        価格：
	        <span id="subtotal"></span>円
	    </div>

	    <div>
	        税込価格：
	        <span id="total"></span>円
	    </div>

	    <form
	        th:action="@{/cart/add/{id}(id=${product.productId})}"
	        method="post">

	        <input
	            type="hidden"
	            id="cartQuantity"
	            name="quantity"
	            value="1">

	        <button type="submit">
	            カートに入れる
	        </button>

	    </form>
		
		<!-- 単品購入 -->
		<form
		    th:action="@{/purchase/{id}(id=${product.productId})}"
		    method="get">

		    <input
		        type="hidden"
		        id="purchaseQuantity"
		        name="quantity"
		        value="1">

		    <button type="submit">
		        単品購入
		    </button>
		</form>

	</div>
	
	
	
	<a th:href="@{/review/form/{id}(id=${product.productId})}">口コミ投稿</a>
	
	<h2><口コミ></h2>

	<div th:if="${#lists.isEmpty(reviews)}">
	    口コミはまだありません
	</div>

	<div th:each="review : ${reviews}">

	    <hr>

		<div>
		    ユーザー名：
		    
			<span th:text="
			${review.dummyUserName != null
			&& review.dummyUserName != ''
			? review.dummyUserName
			: review.user.userName}">
			</span>
		</div>

	    <div>
	        評価(5段階)：
	        <span th:text="${review.rating}"></span>
	    </div>

	    <div>
	        コメント：
	        <span th:text="${review.comment}"></span>
	    </div>

	    <div>
	        投稿日時：
			<span th:text=
			"${#temporals.format(review.createdAt,
			'yyyy/MM/dd HH:mm')}">
			</span>
	    </div>

	</div>
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	
	<script th:inline="javascript">

	    const price = /*[[${product.price}]]*/ 0;
	    const taxPrice = /*[[${product.taxPrice}]]*/ 0;

	    const quantitySelect =
	        document.getElementById("quantity");

	    const subtotalElement =
	        document.getElementById("subtotal");

	    const totalElement =
	        document.getElementById("total");

	    const cartQuantity =
	        document.getElementById("cartQuantity");
			
		const purchaseQuantity =
		    document.getElementById("purchaseQuantity");


	    function updatePrice() {

	        const quantity =
	            Number(quantitySelect.value);

	        const subtotal =
	            price * quantity;

	        const total =
	            taxPrice * quantity;

	        subtotalElement.textContent =
	            subtotal.toLocaleString();

	        totalElement.textContent =
	            total.toLocaleString();

	        cartQuantity.value = quantity;
			
			purchaseQuantity.value = quantity;
	    }


	    quantitySelect.addEventListener(
	        "change",
	        updatePrice
	    );


	    // 初期表示
	    updatePrice();

	</script>
</body>
</html>