<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>購入完了画面</title>
</head>

<body>

    <h1>購入完了画面</h1>

    <div th:replace="~{common/header :: header}"></div>
	

	<h2>注文完了</h2>


	<!-- 商品情報 -->
<!--	<div>-->

<!--	    <div>-->
<!--	        <img th:src="@{${product.imgPath}}" alt="商品画像" width="200">-->
<!--	    </div>-->

<!--	    <div>-->
<!--	        商品名：-->
<!--	        <span th:text="${product.productName}"></span>-->
<!--	    </div>-->

<!--	    <div>-->
<!--	        数量：-->
<!--	        <span th:text="${quantity}"></span>-->
<!--	    </div>-->

<!--	    <div>-->
<!--	        税込価格：-->
<!--	        <span-->
<!--	            th:text="${#numbers.formatInteger(totalAmount, 3, 'COMMA')}">-->
<!--	        </span>-->
<!--	        円-->
<!--	    </div>-->

<!--		<div>-->
<!--	        住所：-->
<!--	        <span th:text="${completeAddress}"></span>-->
<!--	    </div>-->


<!--	</div>-->
<!-- 単品購入 -->
<div th:if="${product != null}">

    <div>
        <img
            th:src="@{${product.imgPath}}"
            alt="商品画像"
            width="200">
    </div>

    <div>
        商品名：
        <span th:text="${product.productName}"></span>
    </div>

    <div>
        数量：
        <span th:text="${quantity}"></span>
    </div>

    <div>
        税込価格：
        <span
            th:text="${#numbers.formatInteger(totalAmount, 3, 'COMMA')}">
        </span>
        円
    </div>

</div>


<!-- カート購入 -->
<div th:if="${cartList != null}">

    <div th:each="cart : ${cartList}">

        <hr>

        <div>
            <img
                th:src="@{${cart.product.imgPath}}"
                alt="商品画像"
                width="200">
        </div>

        <div>
            商品名：
            <span th:text="${cart.product.productName}"></span>
        </div>

        <div>
            数量：
            <span th:text="${cart.quantity}"></span>
        </div>

        <div>
            税込価格：
            <span
                th:text="${cart.product.includeTax * cart.quantity}">
            </span>
            円
        </div>
		
		<div>
	        住所：
	        <span th:text="${completeAddress}"></span>
	    </div>

    </div>

    <hr>

    

</div>



	<br>

	<!-- TOP画面へ -->
	<div>

	    <a th:href="@{/}">
	        <button type="button">
	            TOP画面へ戻る
	        </button>
	    </a>

	</div>



    <div th:replace="~{common/footer :: footer}"></div>

</body>

</html>